<div class="card">
    <h2>根据设备类型选择代理方式</h2>

    <div class="clear hint">
        <i class="icon-chrome left device"></i>

        <div class="detail left">
            <p class="hint_title">你正在使用 <span class="device_name">ChromeOS 设备</span></p>

            <p class="hint_subTitle">你可以遵照如下提示进行设置：</p>

            <p class="hint_detail">吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱</p>

            <p class="hint_detail">吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱</p>

            <p class="hint_detail">吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱吱</p>
        </div>
    </div>
    <ul class="clear">
        <li><a class="icon-android">iOS设备</a></li>
        <li><a class="icon-apple">iOS设备</a></li>
        <li><a class="icon-apple">iOS设备</a></li>
        <li><a class="icon-windows">iOS设备</a></li>
        <li><a class="icon-linux">iOS设备</a></li>
        <li><a class="icon-chrome">iOS设备</a></li>
        <li><a class="icon-wifi">iOS设备</a></li>
    </ul>
</div>
<div class="card">
    <h2>根据使用的软件选择代理方式</h2>
    <ul class="clear">
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
        <li><a class="icon-cog-alt">软件</a></li>
    </ul>
</div>

<a href="#/panel" class="lightbox" data-ng-if="checkLocation('pay', 1) || checkLocation('help', 1)">
    magicalLightboxByLossesDon
</a>

<div id="pay" class="center_card" data-ng-include="'partials/pay.html'" data-ng-if="checkLocation('pay', 1)"></div>
<div id="help" class="center_card" data-ng-include="'partials/help.html'" data-ng-if="checkLocation('help', 1)"></div>